@tailwind base;
// @tailwind components;
@tailwind utilities;
:root {
  // @apply bg-gray-100;
}

input {
  @apply px-2;
}
.fc-header-toolbar {
  display: inline-block;
  padding: 4px 4px;

  @apply space-x-8;
}

.fc-day {
  @apply m-8;
}

.fc-scrollgrid-sync-table {
  @apply w-full;
}

.fc-view {
  @apply w-full h-full lg:h-3/4 xl:h-2/3 bg-white;
}

.fc-h-event {
  @apply bg-violet-500 border border-violet-600;
}

.fc .fc-daygrid-day.fc-day-today {
  @apply bg-violet-100;
}

.fc .fc-button {
  @apply hover:bg-violet-900;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  @apply bg-violet-600;
}

.fc .fc-button-primary:disabled {
  @apply bg-violet-600;
}
.fc-v-event {
  @apply bg-violet-500 border border-violet-600;
}

@font-face {
  font-family: 'Inter Light';
  font-weight: 300;
  src: url('../../fonts/Inter/Inter_18pt-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter Regular';
  font-weight: 400;
  src: url('../../fonts/Inter/Inter_18pt-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter Medium';
  font-weight: 500;
  src: url('../../fonts/Inter/Inter_18pt-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter SemiBold';
  font-weight: 600;
  src: url('../../fonts/Inter/Inter_18pt-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter Bold';
  font-weight: 700;
  src: url('../../fonts/Inter/Inter_24pt-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter ExtraBold';
  font-weight: 800;
  src: url('../../fonts/Inter/Inter_28pt-ExtraBold.ttf') format('truetype');
}

body {
  font-family: 'Inter Regular', sans-serif;
}

.flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.justify-between {
  justify-content: space-between;
}

.cursor-pointer {
  cursor: pointer;
}

body {
  // background-color: #eff0f5;
}

#__next {
  background-color: #eff0f5;
}

.slider-class-testimonal {
  column-gap: 2px;
}

.dots {
  border: '1px solid red';
}

.error {
  color: #f44336;
  font-weight: 400;
  font-size: 0.75rem;
  margin-top: 3px;
  margin-right: 14px;
  margin-left: 14px;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loading {
  opacity: 0;
  animation-name: fade-in-out;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
// ag grid styling
.ag-header-row.ag-header-row-column {
  background-color: #3a6fb6;
  color: white !important;
  font-size: 1.3rem;
}
.ag-theme-quartz {
  /* disable all borders */
  --ag-borders: none;
  /* then add back a border between rows */
  --ag-row-border-style: solid !important;
  --ag-row-border-width: 0px !important;
  --ag-row-border-color: transparent !important;
  /* --ag-foreground-color: rgb(14, 68, 145) !important; */
  /* Changes the color of the grid background */
  --ag-background-color: rgba(45, 27, 129, 0%) !important;
  --ag-grid-size: 7px !important;
  --ag-list-item-height: 40px !important;
  --ag-row-height: 50px !important;
}
span.ag-icon.ag-icon-menu {
  color: white;
  display: inline-block;
}
.ag-icon.ag-icon-menu::before {
  // content: url("../../public//images//svgs//fourdots.svg"); /* Specify the path to your custom image */
  display: inline-block;
  width: 16px; /* Adjust the width and height as needed */
  height: 16px;
}
.ag-theme-quartz .ag-row:hover {
  /* background-color: red !important; */
  background: rgba(45, 27, 129, 7%) !important;
}
.ag-ltr .ag-header-viewport .ag-header-cell-resize::after {
  background-color: white;
}
.ag-header-cell-text {
  font-size: 0.8rem;
}

.custom-date-picker {
  border: 1px solid #c3cad2 !important;
  border-radius: 5px !important;
  width: 100%;
  height: 45px;
  position: relative;
}

// input.relative.duration-300.py-2\.5.pl-4.pr-14.w-full.border-none.rounded-lg.placeholder-subheadingColor.\!text-\[\#64698E\].\!text-base.font-medium.\!bg-transparent.focus\:border-none.focus\:outline-0.border.border-gray-300
@keyframes zoom {
  0%,
  100% {
    transform: scale(1) scaleY(1);
  }
  50% {
    transform: scale(1.1) scaleY(1.1);
  }
}
// Main logo screen animation
.animate-zoom {
  animation: zoom 2s infinite;
  // margin-left: 4rem;
}
